{% extends "admin/change_list.html" %}

{% block object-tools %}
  {% if has_add_permission %}
    <ul class="object-tools">
      <li>
        <a href="/pymovieshelf/{% if is_popup %}?_popup=1{% endif %}" class="addlink">
          {{ cl.opts.verbose_name }} list
        </a>
      </li>
      <li>
        <a href="/pymovieshelf/add_imdb/{% if is_popup %}?_popup=1{% endif %}" class="addlink">
          Add {{ cl.opts.verbose_name }} from IMDb
        </a>
      </li>
      <li>
        <a href="add/{% if is_popup %}?_popup=1{% endif %}" class="addlink">
          Add {{ cl.opts.verbose_name }}
        </a>
      </li>
    </ul>
  {% endif %}
{% endblock %}
