<!doctype html>
{% load static %}
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" href="{% static 'pymovieshelf/css/pymovieshelf.css' %}" />
    <meta name="description" content="Python based DVD manager." />
    <title>pyMovieShelf</title>
  </head>
  <body onload="document.search_form.title.focus();">
    <div class="outer">
      <div class="middle">
        <div class="header">
          <span id="nav">
            <a href="/pymovieshelf/">List</a>
            <a href="/pymovieshelf/add_imdb/">Add</a>
          </span>
          <span id="userinfo">
            {% if user.is_authenticated %}
            <a href="/admin/pymovieshelf/movie/">Admin</a>
            <a href="/admin/logout/">Log out</a>
            {% else %}
            <a href="/admin/">Log in</a>
            {% endif %}
          </span>
        </div>
        <div class="content">
          <div class="imdb_search">
            <form action="/pymovieshelf/add_imdb/" method="post">
              {% csrf_token %}
              <fieldset>
                <label for="title">Title: </label>
                <input type="text" name="title" id="title" />
                <input type="submit" value="Search IMDb" name="submit" />
                {% if movie_list %}
                <br />
                <br />
                <div id="search-results">
                  {% for movie in movie_list %}
                  {% if forloop.counter0 == 0 %}
                  <input type="radio" name="movie_id" value="{{ movie.movieID }}" checked />
                  {% else %}
                  <input type="radio" name="movie_id" value="{{ movie.movieID }}" />
                  {% endif %}
                  <a href="http://www.imdb.com/title/tt{{ movie.movieID }}/">{{ movie.title }} ({{ movie.year }})</a>
                  <br/>
                  {% endfor %}
                </div>
                <br />
                <label for="format">Format:</label>
                <input type="radio" name="format" value="DVD" checked />DVD
                <input type="radio" name="format" value="Blu-ray" />Blu-ray
                <input type="radio" name="format" value="Digital" />Digital
                <br />
                <br />
                <input type="submit" value="Select Movie" name="select" />
                {% else  %}{% if error %}
                <br />
                <br />
                <br />
                <span class="no_movies">{{ error }}</span>
                {% else %}
                <br />
                <br />
                <br />
                <span class="no_movies">No movies found.</span>
                {% endif %}{% endif %}
              </fieldset>
            </form>
          </div>
          <div class="back">
            <a href="/pymovieshelf/">Movie List</a>
          </div>
        </div>
        <div class="footer">
          &copy; Mike Stegeman, 2010 - 2017
        </div>
      </div>
    </div>
  </body>
</html>
