<!doctype html>
{% load static %}
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" href="{% static 'pymovieshelf/css/pymovieshelf.css' %}" />
    <meta name="description" content="Python based DVD manager." />
    <title>pyMovieShelf</title>
  </head>
  <body>
    <div class="outer">
      <div class="middle">
        <div class="header">
          <span id="nav">
            <a href="/pymovieshelf/">List</a>
            <a href="/pymovieshelf/add_imdb/">Add</a>
          </span>
          <span id="userinfo">
            {% if user.is_authenticated %}
            <a href="/admin/pymovieshelf/movie/">Admin</a>
            <a href="/admin/logout/">Log out</a>
            {% else %}
            <a href="/admin/">Log in</a>
            {% endif %}
          </span>
        </div>
        <div class="content">
          <div class="poster">
            <img id="poster" src="{{ object.img }}" alt="{{ object.title }}" />
          </div>
          <div class="details">
            <h1>{{ object.title }}</h1>
            <table class="tbl_details">
              <tr>
                <th>Year:</th>
                <td>{{ object.year }}</td>
              </tr>
              <tr>
                <th>Format:</th>
                <td>{{ object.fmt }}</td>
              </tr>
              <tr>
                <th>Genres:</th>
                <td>{{ object.genres }}</td>
              </tr>
              <tr>
                <th>Length:</th>
                <td>{{ object.length }} min</td>
              </tr>
              <tr>
                <th>Summary:</th>
                <td>{{ object.summary }}</td>
              </tr>
              <tr>
                <th>IMDb Page:</th>
                <td><a href="{{ object.url }}">{{ object.url }}</a></td>
              </tr>
            </table>
          </div>
          <div class="back">
            <a href="/pymovieshelf/">Movie List</a>
          </div>
        </div>
        <div class="footer">
          &copy; Mike Stegeman, 2010 - 2017
        </div>
      </div>
    </div>
  </body>
</html>
