<!doctype html>
{% load static %}
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" href="{% static 'pymovieshelf/css/pymovieshelf.css' %}" />
    <meta name="description" content="Python based DVD manager." />
    <title>pyMovieShelf</title>
  </head>
  <body onload="document.search_form.title.focus();">
    <div class="outer">
      <div class="middle">
        <div class="header">
          <span id="nav">
            <a href="/pymovieshelf/">List</a>
            <a href="/pymovieshelf/add_imdb/">Add</a>
          </span>
          <span id="userinfo">
            {% if user.is_authenticated %}
            <a href="/admin/pymovieshelf/movie/">Admin</a>
            <a href="/admin/logout/">Log out</a>
            {% else %}
            <a href="/admin/">Log in</a>
            {% endif %}
          </span>
        </div>
        <div class="content">
          <form class="search_form" action="/pymovieshelf/search/" method="post">
            {% csrf_token %}
            <fieldset>
              <label for="title">Title: </label>
              <input type="text" name="title" id="title" />
              <input type="submit" value="Search" name="submit" />
            </fieldset>
          </form>
          <div class="list">
            {% if object_list %}
            <table class="tbl_list">
              <thead>
                <tr>
                  <th>Title</th>
                  <th>Year</th>
                </tr>
              </thead>
              <tbody>
                {% for object in object_list %}
                <tr>
                  <td><a href="/pymovieshelf/{{ object.id }}/">{{ object.title }}</a></td>
                  <td>{{ object.year }}</td>
                </tr>
                {% endfor %}
              </tbody>
            </table>
            {% else %}
            <p>No movies have been added.</p>
            {% endif %}
          </div>
          <div class="back">
            {% if has_previous %}
            <a id="page-prev" href="/pymovieshelf/?page={{ previous }}">&lt;</a>
            {% endif %}
            {{ page }}
            {% if has_next %}
            <a id="page-next" href="/pymovieshelf/?page={{ next }}">&gt;</a>
            {% endif %}
          </div>
        </div>
        <div class="footer">
          &copy; Mike Stegeman, 2010 - 2017
        </div>
      </div>
    </div>
  </body>
</html>
